<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Tweets</h1>
    </div>
  </div>
   <div class="row">
    <div class="col-md-12">
      <%= search_form_for @q do |f| %>
        <div class="form-group">
          <%= f.label :description_cont %>
          <%= f.search_field :description_cont, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :user_name_cont %>
          <%= f.search_field :user_name_cont, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :id_eq %>
          <%= f.search_field :id_eq, class: 'form-control' %>

        </div>
        <%= f.submit "Search", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-12">
      <div id="tweets" class="row justify-content-center mb-5">
        <% @tweets.each_with_index do |tweet, index| %>
          <% tweet_number = (@tweets.current_page - 1) * @tweets.per_page + index + 1 %>
          <div class="col-md-2">
            <div class="card mb-1 tweet" style="height: 100%">
              <div class="card-body d-flex align-items-center justify-content-center flex-column">
                <h5 class="card-title"><%= "#{tweet_number}. #{tweet.user_name}" %></h5>
                <p class="card-text text-center"><%= tweet.description %></p>
                <p>
                  <%= link_to "Ver tweet", tweet, class: "btn btn-primary btn-format" %>
                </p>
              </div>
            </div>
          </div>
          <% if (index + 1) % 5 == 0 && index + 1 < @tweets.length %>
            </div>
            <div class="row justify-content-center">
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= link_to "Nuevo tweet", new_tweet_path, class: "btn btn-primary" %>
      <%= will_paginate @tweets, renderer: WillPaginate::ActionView::LinkRenderer, class: 'pagination justify-content-center' %>
    </div>
  </div>

 


